<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <!-- navbar started -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Todo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/logout">logout</a>
              </li>
              
          </div>
        </div>
      </nav>
    
    <div>
      <div class="row p-0 mt-4">
        <div class='col-lg-4 mx-auto shadow p-0'>
        <div class="alert alert-info">
          <h2>ADD TODO HERE</h2>

        </div>
        <div class=" p-4">
          <form action="/add" method="POST"> 
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <input type="submit" value="add" class=" btn btn-info">
          </form>
    
        </div>
        <div>
          
      </div>
      
    </div>

    
    <div class="col">
      <div class="border">
        {%if todos|length == 0 %}
        <div class="alert alert-info text-center">
          <p class="display-4"> No todos</p>

        </div>

        {%else%}
        <div>
          <table class="table">
            <thead >
              <tr>
                <th>#</th>
                <th>title</th>
                <th>status</th>
                <th>priority</th>
                <th>actions</th>
                </tr>
            </thead>
                <tbody>
                  {% for todo in todos %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.status}}</td>
                    <td>{{todo.priority}}</td>
                    <td>
                      <a href="/delete-todo/{{todo.id}}" title="delete">❌</a>
                      {% if todo.status == 'p'%}
                      <a href="/change-status/{{todo.id}}/c" title="completed">✔️</a>
                      {%else%}
                      <a href="/change-status/{{todo.id}}/p" title="pending">⏳</a>
                      {%endif%}
                    </td>
                    
                    
                  </tr>
                  {%endfor%}
                </tbody>
            
          </table>
        </div>

        {%endif%}
      
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>